/packer_cache/
/*.box
/*.tar
/output-*

/debian-7-amd64/ansible/roles/*
!debian-7-amd64/ansible/roles/.gitkeep
/debian-7-amd64/test/vagrant/.vagrant/
/debian-7-amd64/test/vagrant/ansible.cfg

/debian-8-amd64/ansible/roles/*
!debian-8-amd64/ansible/roles/.gitkeep
/debian-8-amd64/test/vagrant/.vagrant/
/debian-8-amd64/test/vagrant/ansible.cfg

/symfony-standard-debian/ansible/roles/*
!symfony-standard-debian/ansible/roles/.gitkeep
/symfony-standard-debian/test/vagrant/.vagrant/
/symfony-standard-debian/test/vagrant/ansible.cfg
