/packer_cache/
/*.box
/*.tar
/output-*

/debian/debian-7-amd64/ansible/roles/*
!debian/debian-7-amd64/ansible/roles/.gitkeep
/debian/debian-7-amd64/vagrant/.vagrant/
/debian/debian-7-amd64/vagrant/ansible.cfg

/debian/debian-8-amd64/ansible/roles/*
!debian/debian-8-amd64/ansible/roles/.gitkeep
/debian/debian-8-amd64/vagrant/.vagrant/
/debian/debian-8-amd64/vagrant/ansible.cfg

/debian/symfony-standard-debian/ansible/roles/*
!debian/symfony-standard-debian/ansible/roles/.gitkeep
/debian/symfony-standard-debian/vagrant/.vagrant/
/debian/symfony-standard-debian/vagrant/ansible.cfg
